@import './../../../scss/colors';

.intro-img {
    width: 100%;
    height: 100%;
    background-image: url(https://darkness8129.github.io/my-portfolio/images/introImg.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);

    &::after {
        content: '';
        height: 300%;
        width: 100%;

        background-color: $primary-color;
        position: fixed;
        z-index: -1;
        top: -50%;
        right: -75%;
        transform: rotate(17deg);
    }
}

@media (max-width: 991px) {
    .intro-img::after {
        display: none;
    }

    .intro-img {
        width: 200px;
        height: 200px;
        border: 3px solid $primary-color;
        border-radius: 50%;
        background-position: 30px;
        margin: 0 auto;
    }
}

@media (max-width: 575px) {
    .intro-img {
        display: none;
    }
}
