body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
}

.header_active {
  height: 100vh;
  background-color: black;
}

.navbar-nav {
  flex-direction: column !important;
}

.navbar-collapse {
  margin-top: 15px;
}

.nav-item {
  margin: 10px;
}

.nav-link {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(82, 81, 81, 0.5);
  border-radius: 50%;
  transition: 0.1s linear all;
}
.nav-link .nav-link-text {
  display: none;
  white-space: nowrap;
  margin: 0 12px;
  text-transform: uppercase;
}
.nav-link:hover {
  background-color: orange;
  width: 100%;
  border-radius: 70px;
  justify-content: space-around;
}
.nav-link:hover .nav-link-text {
  display: inline;
}

.navbar-toggler {
  margin: 20px 10px;
}
.navbar-toggler:focus {
  outline: none;
}

.toggler-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  position: relative;
  transition: 0.5s linear all;
}
.toggler-icon::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s linear all;
}
.toggler-icon::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s linear all;
}

.toggler-icon_active {
  transform: rotate(405deg) translate(5px, 5px);
}
.toggler-icon_active::before {
  display: none;
}
.toggler-icon_active::after {
  transform: rotate(-90deg) translate(14px, 0px);
}

@media (max-width: 991px) {
  header {
    width: 100%;
  }

  .header {
    align-items: flex-start;
    position: fixed;
    padding: 0;
    z-index: 1000;
  }

  .navbar {
    flex-direction: row-reverse;
    padding: 0;
  }

  .nav-item {
    margin: 0;
    border-bottom: 1px solid rgba(82, 81, 81, 0.5);
  }

  .nav-item:last-child {
    border: none;
  }

  .nav-link {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: black;
    border-radius: 0%;
    padding-left: 22px !important;
  }
  .nav-link .nav-link-text {
    display: inline;
  }
  .nav-link:hover {
    background-color: orange;
    width: 100%;
    border-radius: 0px;
    justify-content: flex-start;
  }
  .nav-link:hover .nav-link-text {
    display: inline;
  }
}