body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
}

.navbar-nav {
  flex-direction: column !important;
}

.nav-item {
  margin: 10px;
}

.nav-link {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(82, 81, 81, 0.5);
  border-radius: 50%;
  transition: 0.1s linear all;
}
.nav-link .nav-link-text {
  display: none;
  white-space: nowrap;
  margin-left: 8px;
}
.nav-link:hover {
  background-color: orange;
  width: 100%;
  border-radius: 70px;
  justify-content: space-around;
}
.nav-link:hover .nav-link-text {
  display: inline;
}

.toggler-icon {
  color: white;
  font-size: 25px;
}

.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler:focus .toggler-icon {
  color: orange;
}

@media (max-width: 991px) {
  .header {
    align-items: flex-start;
  }

  .navbar {
    flex-wrap: nowrap;
    height: 100px;
  }

  .navbar-nav {
    flex-direction: row !important;
  }

  .nav-link:hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
  }
  .nav-link:hover .nav-link-text {
    display: none;
  }
}
.intro {
  height: 100%;
  padding: 30px 15px;
}

.intro-img {
  width: 100%;
  height: 100%;
  background-image: url(../images/intro-img.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}
.intro-img::after {
  content: "";
  height: 300%;
  width: 100%;
  background-color: orange;
  position: fixed;
  z-index: -1;
  top: -50%;
  right: -75%;
  transform: rotate(17deg);
}

.greetings-hello {
  margin: 10px 0;
  font-size: 25px;
  font-family: monospace;
}

.my-name {
  color: orange;
}

.about-me-btn {
  display: inline-block;
  background-color: orange;
  border-radius: 20px;
  padding: 10px 40px;
  font-weight: bold;
  transition: 0.2s linear all;
}
.about-me-btn:hover {
  color: orange;
  background-color: white;
}

@media (max-width: 991px) {
  .intro {
    display: flex;
    align-content: flex-start;
  }

  .intro-img::after {
    display: none;
  }

  .intro-img {
    width: 200px;
    height: 200px;
    border: 3px solid orange;
    border-radius: 50%;
    background-position: 30px;
    margin: 0 auto;
  }

  .text-block {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .intro-img {
    display: none;
  }

  .text-block {
    text-align: start;
  }
}