body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 50%;
  margin-top: -175px;
  z-index: 1000;
}

.header_active {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  flex-direction: column !important;
}

.nav-item {
  margin: 10px;
}

.nav-link {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(82, 81, 81, 0.5);
  border-radius: 50%;
  transition: 0.1s linear all;
}
.nav-link .nav-link-text {
  display: none;
  white-space: nowrap;
  margin: 0 12px;
  text-transform: uppercase;
}
.nav-link:hover {
  background-color: orange;
  width: 100%;
  border-radius: 70px;
  justify-content: space-around;
}
.nav-link:hover .nav-link-text {
  display: inline;
}

.navbar-toggler {
  margin: 20px 10px;
}
.navbar-toggler:focus {
  outline: none;
}

.toggler-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  position: relative;
  transition: 0.5s linear all;
}
.toggler-icon::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s linear all;
}
.toggler-icon::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s linear all;
}

.toggler-icon_active {
  transform: rotate(405deg) translate(5px, 5px);
}
.toggler-icon_active::before {
  display: none;
}
.toggler-icon_active::after {
  transform: rotate(-90deg) translate(14px, 0px);
}

@media (max-width: 991px) {
  header {
    right: 0;
    top: 0;
    margin: 0;
  }

  .navbar-collapse {
    margin-top: 15px;
  }

  .navbar {
    flex-direction: row-reverse;
  }

  .nav-item {
    margin: 0;
    border-bottom: 1px solid rgba(82, 81, 81, 0.5);
  }

  .nav-item:last-child {
    border: none;
  }

  .nav-link {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: black;
    border-radius: 0%;
    padding-left: 22px !important;
  }
  .nav-link .nav-link-text {
    display: inline;
  }
  .nav-link:hover {
    background-color: orange;
    width: 100%;
    border-radius: 0px;
    justify-content: flex-start;
  }
  .nav-link:hover .nav-link-text {
    display: inline;
  }
}
body {
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}

.highlighted-text {
  color: orange;
}

.title {
  font-size: 60px;
  margin: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title .title-bg {
  content: "Resume";
  position: absolute;
  color: rgba(82, 81, 81, 0.5);
  font-weight: 900;
  font-size: 110px;
  line-height: 0.5;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 50px;
}

.button {
  display: inline-block;
  background-color: orange;
  border-radius: 20px;
  padding: 10px 40px;
  font-weight: bold;
  transition: 0.2s linear all;
}
.button:hover {
  color: orange;
  background-color: white;
}

.delimiter {
  border-top: 1px solid rgba(82, 81, 81, 0.5);
  max-width: 50%;
  width: 100%;
  margin: 50px auto;
}

.intro {
  height: 100%;
  padding: 30px 15px;
  justify-content: flex-end;
}

.intro-img {
  width: 100%;
  height: 100%;
  background-image: url(../images/intro-img.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}
.intro-img::after {
  content: "";
  height: 300%;
  width: 100%;
  background-color: orange;
  position: fixed;
  z-index: -1;
  top: -50%;
  right: -75%;
  transform: rotate(17deg);
}

.greetings-hello {
  margin: 10px 0;
  font-size: 25px;
  font-family: monospace;
}

@media (max-width: 991px) {
  .intro {
    display: flex;
    align-content: center;
  }

  .intro-img::after {
    display: none;
  }

  .intro-img {
    width: 200px;
    height: 200px;
    border: 3px solid orange;
    border-radius: 50%;
    background-position: 30px;
    margin: 0 auto;
  }

  .text-block {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .intro-img {
    display: none;
  }

  .text-block {
    text-align: start;
  }
}