//HEADER
.header {
    position: fixed;
    top: 50%;
    margin-top: -140px;
    z-index: 1000;
}

.header_active {
    display: block !important;
    height: 100vh;
    background-color: $header-mobile-bg;
}

.header-title-mobile {
    display: none;
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

//NAVIGATION
.navbar {
    padding: 0;
}

.navbar-nav {
    flex-direction: column !important;
}

.nav-item {
    margin: 10px;
}

.nav-link {
    color: $font-color;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: $transperent-gray;
    border-radius: 50%;
    transition: 0.1s linear all;

    .nav-link-text {
        display: none;
        white-space: nowrap;
        margin: 0 12px;
        text-transform: uppercase;
    }

    &:hover {
        background-color: $primary-color;
        width: 100%;
        border-radius: 70px;
        justify-content: space-around;
        .nav-link-text {
            display: inline;
        }
    }
}

.nav-link_active {
    background-color: $primary-color !important;
}

//TOGGLE BTN
.navbar-toggler {
    margin: 10px;
    padding: 10px 10px 23px 10px;
    background-color: #1c1c1b;
    transition: 0.3s linear all;

    &:focus {
        outline: none;
    }
}

.toggler-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    position: relative;
    transition: 0.5s linear all;

    &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 25px;
        height: 3px;
        background-color: white;
        transition: 0.3s linear all;
    }

    &::after {
        content: '';
        position: absolute;
        top: 14px;
        left: 0;
        width: 25px;
        height: 3px;
        background-color: white;
        transition: 0.3s linear all;
    }
}

.toggler-icon_active {
    transform: translate(0px, 7px) rotate(405deg);

    &::before {
        display: none;
    }

    &::after {
        transform: translate(0px, -14px) rotate(-90deg);
    }
}

//MEDIA
@media (max-width: 991px) {
    //HEADER
    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        top: 0;
        margin: 0;
    }

    //NAVIGATION
    .navbar {
        flex-direction: row-reverse;
    }

    .nav-item {
        margin: 0;
        border-bottom: 1px solid $transperent-gray;
    }

    .nav-item:last-child {
        border: none;
    }

    .nav-link {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        background-color: $header-mobile-bg;
        border-radius: 0%;
        padding-left: 22px !important;

        .nav-link-text {
            display: inline;
        }

        &:hover {
            background-color: $primary-color;
            width: 100%;
            border-radius: 0px;
            justify-content: flex-start;
            .nav-link-text {
                display: inline;
            }
        }
    }
}

@media (max-width: 575px) {
    //HEADER
    .header {
        background-color: $header-mobile-bg;
        justify-content: space-between;
    }

    .header-title-mobile {
        display: block;
    }
}
