@import 'reset';
@import 'colors';
@import 'header';
@import 'base';
@import 'mixins';

//PERSONAL INFO
.info-list {
    list-style: none;

    li {
        margin-top: 15px;

        span:first-child {
            color: gray;
        }
    }
}

//RECTANGLES
.achievement {
    width: 100%;
    height: 150px;
    border: 1px solid $transperent-gray;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 20px 30px;
}

.achievement-num {
    font-size: 40px;
    font-weight: bold;
    color: $primary-color;
}

.achievement-title {
    font-family: monospace;
    display: block;
    margin-left: 25px;
    position: relative;
    text-transform: uppercase;

    &::before {
        position: absolute;
        content: '';
        width: 30px;
        height: 2px;
        background-color: $transperent-gray;
        top: 50%;
        margin-top: -2px;
        left: -40px;
    }
}

//SKILLS
.skill-70 {
    @include skill(
        linear-gradient(90deg, transparent 50%, $primary-color 50%),
        linear-gradient(162deg, transparent 50%, $primary-color 50%)
    );
}

.skill-75 {
    @include skill(
        linear-gradient(90deg, transparent 50%, $primary-color 50%),
        linear-gradient(180deg, transparent 50%, $primary-color 50%)
    );
}

.skill-60 {
    @include skill(
        linear-gradient(90deg, transparent 50%, $primary-color 50%),
        linear-gradient(126deg, transparent 50%, $primary-color 50%)
    );
}

.skill-50 {
    @include skill(
        linear-gradient(90deg, transparent 50%, $primary-color 50%),
        linear-gradient(90deg, transparent 50%, $primary-color 50%)
    );
}

.skill-40 {
    @include skill(
        linear-gradient(234deg, transparent 50%, gray 50%),
        linear-gradient(90deg, gray 50%, $primary-color 50%)
    );
}

.skill-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

//EXPERIENCE AND EDUCATION
.exp-ed-block {
    border-left: 1px solid $transperent-gray;
    margin: 0 10px;
}

.exp-ed-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $primary-color;
    position: absolute;
    left: -10px;
    z-index: 10;
}

.time-text {
    background-color: $transperent-gray;
    display: inline-block;
    font-size: 13px;
    padding: 5px 10px;
    opacity: 0.9;
    border-radius: 20px;
    margin-left: 10px;
}

.activity-text {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;

    span {
        opacity: 0.8;
        font-weight: normal;
    }
}
.descr-text {
    font-size: 15px;
    margin-bottom: 0;
}

//MEDIA
@media (max-width: 767px) {
    //RECTANGLES
    .achievement-title {
        margin-left: 0;

        &::before {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    //PERSONAL INFO
    .info-title {
        display: block;
    }
}
