@import 'reset';
@import 'colors';
@import 'header';
@import 'base';
@import 'mixins';

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info__item {
    display: flex;
    margin-bottom: 20px;

    i {
        color: $primary-color;
        font-size: 40px;
        margin-right: 10px;
    }

    span {
        font-size: 14px;
        span {
            color: gray;
            font-weight: bold;
        }
    }
}

.social-block {
    font-size: 30px;

    a {
        transition: 0.2s linear all;
        margin-right: 10px;

        &:hover {
            color: $primary-color;
        }
    }
}

.contact-img {
    img {
        border-radius: 10px;
        width: 100%;
        opacity: 0.9;
    }
}

@media (max-width: 991px) {
    .contact-img {
        display: none;
    }

    .social-block {
        text-align: center;
    }
}

@media (max-width: 575px) {
    .social-block {
        text-align: start;
    }
}
