@import "colors";

.highlighted-text {
    color: $primary-color;
}

.title{
    font-size: 60px;
    margin: 50px 0;
//     position: relative;

//     &::before{
//         content:'Resume';
//         position: absolute;
//         color: $transperent-gray;
//         font-weight: 900;
//         font-size: 100px;
//         line-height: .5;
//         z-index: -1;
//         top: -4%;
//         left: -25%;
//         letter-spacing: 15px;
//     }
}