@import "colors";
//HEADER
.header-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

header{
    position: fixed;
}

.header_active{
    height: 100vh;
    background-color:black;
}

//NAVIGATION
.navbar{
    padding: 0;
}

.navbar-nav {
    flex-direction: column!important;
}

.nav-item {
    margin: 10px;
}

.nav-link {
    color: $font-color;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: $transperent-gray;
    border-radius: 50%;
    transition: 0.1s linear all;

    .nav-link-text {
        display: none;
        white-space: nowrap;
        margin: 0 12px;
        text-transform: uppercase;
    }

    &:hover {
        background-color: $primary-color;
        width: 100%;
        border-radius: 70px;
        justify-content: space-around;
        .nav-link-text {
            display: inline;
        }
    }
}

//TOGGLE BTN
.navbar-toggler {
    margin: 20px 10px;
    &:focus {
        outline: none;
    }
}

.toggler-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    position: relative;
    transition: .5s linear all;
    
    &::before{
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        width: 25px;
        height: 3px;
        background-color: white;
        transition: .3s linear all;
    }

    &::after{
        content: "";
        position: absolute;
        top: 14px;
        left: 0;
        width: 25px;
        height: 3px;
        background-color: white;
        transition: .3s linear all;
    }
}

.toggler-icon_active{
    transform: rotate(405deg) translate(5px, 5px);
    
    &::before{
        display: none;
    }

    &::after{
        transform: rotate(-90deg) translate(14px, 0px);
    }
}

//MEDIA
@media (max-width: 991px) {
    header{
        width: 100%;
    }

    .header-wrapper {
        height: 0;
        align-items: flex-start;
        padding: 0;
    }

    .navbar-collapse{
        margin-top: 15px;
    }

    .navbar{
        flex-direction: row-reverse;
    }

    .nav-item{
        margin: 0;
        border-bottom: 1px solid $transperent-gray;
    }

    .nav-item:last-child{
        border:none;
    }

    .nav-link {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        background-color: black;
        border-radius: 0%;
        padding-left: 22px!important;
    
        .nav-link-text {
            display: inline;
        }
    
        &:hover {
            background-color: $primary-color;
            width: 100%;
            border-radius: 0px;
            justify-content: flex-start;
            .nav-link-text {
                display: inline;
            }
        }
    }
}
