@import "reset";
@import "colors";
@import "header";
@import "general";

//INTRO
.intro {
    height: 100%;
    padding: 30px 15px;
    justify-content: flex-end;
}

.intro-img {
    width: 100%;
    height: 100%;
    background-image: url(../images/intro-img.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);

    &::after {
        content: "";
        height: 300%;
        width: 100%;

        background-color: $primary-color;
        position: fixed;
        z-index: -1;
        top: -50%;
        right: -75%;
        transform: rotate(17deg);
    }
}

.greetings-hello {
    margin: 10px 0;
    font-size: 25px;
    font-family: monospace;
}

.about-me-btn {
    display: inline-block;
    background-color: $primary-color;
    border-radius: 20px;
    padding: 10px 40px;
    font-weight: bold;
    transition: 0.2s linear all;

    &:hover {
        color: $primary-color;
        background-color: white;
    }
}

@media (max-width: 991px) {
    .intro{
        display: flex;
        align-content: center;
    }

    .intro-img::after{
        display: none;
    }

    .intro-img{

        width: 200px;
        height: 200px;
        border: 3px solid $primary-color;
        border-radius: 50%;
        background-position: 30px;
        margin: 0 auto;
    }

    .text-block{
        text-align: center;
    }
}

@media (max-width: 575px) {
    .intro-img{
        display: none;
    }
    .text-block{
        text-align: start;
    }
}