@import 'reset';
@import 'colors';
@import 'header';
@import 'base';

//PROJECTS CARDS
.project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
        .project-card-title {
            opacity: 1;
        }

        .project-card-img {
            img {
                opacity: 0;
            }
        }
    }
}

.project-card-img {
    background-color: $primary-color;
    border-radius: 20px;

    img {
        border-radius: 20px;
        display: block;
        width: 100%;
        transition: 0.2s linear opacity;
    }
}

.project-card-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    opacity: 0;
    transition: 0.2s all linear;
}

@media (max-width: 575px) {
    .project-card:last-child {
        margin-bottom: 0;
    }
}
