@import './../../../scss/fonts';
.text-block {
    h1 {
        font-family: $accent-font;
    }

    p:first-child {
        margin: 10px 0;
        font-size: 25px;
        font-family: monospace;
    }
}

@media (max-width: 991.98px) {
    .text-block {
        text-align: center;
    }
}

@media (max-width: 575.98px) {
    .text-block {
        text-align: start;
    }
}
