@import './../../../../scss/colors';

.contact-info__item {
    display: flex;
    margin-bottom: 20px;

    i {
        color: $primary-color;
        font-size: 40px;
        margin-right: 10px;
    }

    span {
        font-size: 14px;
        span {
            color: gray;
            font-weight: bold;
        }
    }
}
