@import './../../scss/colors';

.title {
    font-size: 60px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .title-bg {
        position: absolute;
        color: $transparent-gray;
        font-weight: 900;
        font-size: 110px;
        line-height: 0.5;
        z-index: -1;
    }
}

@media (max-width: 575.98px) {
    .title {
        display: none;
    }
}
