.info-list {
    list-style: none;

    li {
        margin-top: 15px;

        span:first-child {
            color: gray;
            @media (max-width: 575.98px) {
                display: block;
            }
        }
    }
}
