@import './../../scss/colors';

//HEADER
.header {
    position: fixed;
    top: 50%;
    margin-top: -140px;
    z-index: 1000;
}

//MEDIA
@media (max-width: 991.98px) {
    //HEADER
    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        top: 0;
        margin: 0;
    }

    .header_active {
        display: block !important;
        height: 100vh;
        background-color: $header-mobile-bg;
    }
}

@media (max-width: 575.98px) {
    //HEADER
    .header {
        background-color: $header-mobile-bg;
    }
}
