@import './../../scss/fonts';

.subtitle {
    font-family: $accent-font;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}
