.intro {
    overflow: hidden;
    height: 100%;
    padding: 30px 15px;
    justify-content: flex-end;
}

@media (max-width: 991.98px) {
    .intro {
        display: flex;
        align-content: center;
    }
}
