<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/about.css">

</head>

<body>
    <div class="container-fluid">
        <div class="row" style="height: 100vh;">
                <header class="header">
                    <span class="header-title-mobile">About <span class="highlighted-text">me</span></span>
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars toggler-icon"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="../index.html"><i class="fas fa-home"></i><span
                                            class="nav-link-text">Home</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html"><i
                                            class="fas fa-address-card"></i><span class="nav-link-text">About</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="portfolio.html"><i class="fas fa-briefcase"></i><span
                                            class="nav-link-text">My projects</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html"><i class="fas fa-address-book"></i><span
                                            class="nav-link-text">Contact</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            <div class="col-lg-12">
                <h1 class="text-uppercase title"><b>About <span class="highlighted-text">me</span></b><span class="title-bg">Resume</span></h1>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="subtitle m-0">Personal info</h2>
                                </div>
                                <div class="col-6">
                                    <ul class="info-list">
                                        <li><span class="info-title">First name: </span><span>Yaroslav</span></li>
                                        <li><span class="info-title">Last name: </span><span>Yukhymchuk</span></li>
                                        <li><span class="info-title">Age: </span><span>19 years</span></li>
                                        <li><span class="info-title">Nationality: </span><span>Ukrainian</span></li>
                                        <li><span class="info-title">Marital status: </span><span>Unmarried</span></li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="info-list">
                                        <li><span class="info-title">Address: </span><span>Yaroslav</span></li>
                                        <li><span class="info-title">Phone: </span><span>Yukhymchuk</span></li>
                                        <li><span class="info-title">Email: </span><span>19 years</span></li>
                                        <li><span class="info-title">Languages: </span><span>Ukrainian</span></li>
                                        <li><span class="info-title">Work status: </span><span>Open to work</span></li>
                                    </ul>
                                </div>
                                <div class="col-12">
                                    <a href="#" class="button">View CV</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-6">
                                    <div class="achievement">
                                        <span class="achievement-num">1+</span>
                                        <span class="achievement-title">Years of experience</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="achievement">
                                        <span class="achievement-num">10+</span>
                                        <span class="achievement-title">Projects</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="achievement">
                                        <span class="achievement-num">2+</span>
                                        <span class="achievement-title">Years in university</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="achievement">
                                        <span class="achievement-num">100k+</span>
                                        <span class="achievement-title">Desire to learn</span>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                    <hr class="delimiter">
                    <h2 class="subtitle" style="text-align: center;">My skills</h2>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <div class="skill-70">
                                <span class="skill-number">70%</span>
                            </div>
                            <h5 class="skill-title">HTML</h5>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="skill-75">
                                <span class="skill-number">75%</span>
                            </div>
                            <h5 class="skill-title">CSS</h5>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="skill-60">
                                <span class="skill-number">60%</span>
                            </div>
                            <h5 class="skill-title">Js</h5>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="skill-50">
                                <span class="skill-number">50%</span>
                            </div>
                            <h5 class="skill-title">React</h5>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="skill-60">
                                <span class="skill-number">60%</span>
                            </div>
                            <h5 class="skill-title">SCSS</h5>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="skill-50">
                                <span class="skill-number">50%</span>
                            </div>
                            <h5 class="skill-title">Bootstrap</h5>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="skill-40">
                                <span class="skill-number">40%</span>
                            </div>
                            <h5 class="skill-title">jQuery</h5>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="skill-40">
                                <span class="skill-number">40%</span>
                            </div>
                            <h5 class="skill-title">Git</h5>
                        </div>
                    </div>
                    <hr class="delimiter">
                    <h2 class="subtitle" style="text-align: center;">Experience and education</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-1"><i class="fas fa-briefcase  exp-ed-icon"></i></div>
                                <div class="col-11">
                                    <p class="time-text">October 2019 - Present</p>
                                    <p class="activity-text">HTML/CSS Developer - <span style="opacity: .8; font-weight: normal;">Freelance</span></p>
                                    <p class="descr-text">I was involved in the development of HTML templates and writing styles and also dealt with some JS scripts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-1"><i class="fas fa-briefcase  exp-ed-icon"></i></div>
                                <div class="col-11">
                                    <p class="time-text">September 2018 - June 2022</p>
                                    <p class="activity-text">Bachelor degree - <span style="opacity: .7; font-weight: normal;">Sikorsky Kyiv Polytechnic Institute</span></p>
                                    <p class="descr-text">Student of FICT, specialty - computer engineering. I'm studying in the 3rd year. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="../js/header.js"></script>

</body>

</html>