@import 'reset';
@import 'colors';

body {
    background-color: $bg-color;
    color: $font-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    color: $font-color;
    text-decoration: none;
    &:hover {
        color: $font-color;
    }
}

.content {
    margin: 50px 0;
}

.highlighted-text {
    color: $primary-color;
}

@media (max-width: 575.98px) {
    .content {
        margin-top: 100px;
        margin-bottom: 42px;
    }
}
